<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockfarm_app"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="postpc.y2020.stockfarm_app.StockFarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_stockfarm_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_stockfarm_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name="postpc.y2020.stockfarm_app.TradeActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="postpc.y2020.stockfarm_app.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="postpc.y2020.stockfarm_app.MainActivity"
            android:parentActivityName="postpc.y2020.stockfarm_app.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="postpc.y2020.stockfarm_app.ChartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver
            android:name="postpc.y2020.stockfarm_app.StockMarketBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
    </application>

</manifest>